<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Redirect index.html to folder" stopProcessing="true">
          <match url="^(.*)/index\.html$" ignoreCase="true" />
          <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
        </rule>

        <rule name="Redirect root index.html" stopProcessing="true">
          <match url="^index\.html$" ignoreCase="true" />
          <action type="Redirect" url="/demo/" redirectType="Permanent" />
        </rule>

        <rule name="Redirect html to extensionless" stopProcessing="true">
          <match url="^(.*)\.html$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/demo/(components|views)/" negate="true" />
            <add input="{R:1}" pattern=".+" />
            <add input="{R:1}" pattern="(^|/)index$" negate="true" />
          </conditions>
          <action type="Redirect" url="/demo/{R:1}" redirectType="Permanent" />
        </rule>

        <rule name="Rewrite extensionless to html" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/demo/(components|views)/" negate="true" />
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
